<header>
      <div class="heading">
        <h1 class="title"><%= link_to "CultureMarket", root_path %></h1>
      </div>
        <div class="navbar">
          <ul class="nav-lists">
            <li class="color-gray" id="fitness">Fitness</li>
             <div class="fitness-lists hidden" id="pull-down">
              <p class="pull-down-list"><%= link_to "Dance", dances_path %></p>
              <p class="pull-down-list">Yoga</p>
              <p class="pull-down-list">Workout</p>
            </div>
            <li>Lerning</li>
            <li>Art</li>
            <li>Business</li>
          </ul>
        </div>
       
        <% if user_signed_in? %>
          <div class="user_nav">
            <div class="user_info">
              <div class="mypage">
                <%= link_to current_user.name, class: "post" %>
              </div>
              <div class="logout">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </div>
            </div>
        <% else %>
            <div class="user_info">
              <div class="login">
                <%= link_to "ログイン", new_user_session_path, class: "post" %>
              </div>
              <div class="signup">
                <%= link_to "新規登録", new_user_registration_path, class: "post" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </header>