<%= render "devise/shared/header" %>
<div class="dances-sell-contents">
  <div class="dances-sell-main">
    <h2 class="dances-sell-title">エントリー</h2>
    <%= form_with model: @dance, url: dances_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: f.object %>

   <%= render partial: "form", locals: { f: f} %>
    
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>
</div>
<%= render "devise/shared/footer" %>