<%= render "devise/shared/header" %>
<div class="dances-sell-contents">
  <div class="dances-sell-main">
    <h2 class="dances-sell-title">エントリー</h2>
    <%= form_with model: @dance, url: dances_path, local: true do |f| %>

    <%# <%= render 'shared/error_messages', model: f.object %> 

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="dance-weight-bold-text">
        ○○○画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"dance-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-dance">
      <div class="dance-weight-bold-text">
        ○○○名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"dances-text", id:"dance-name", placeholder:"○○○（必須 40文字まで)", maxlength:"40" %>
      <div class="dances-explain">
        <div class="dance-weight-bold-text">
          ○○○の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :introduce, class:"dances-text", id:"dance-info", placeholder:"○○○の説明" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
   
    <div class="dances-detail">
      <div class="dance-select-genre">
        <div class="dance-weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"dance-genre"}) %>
      </div>
      <div class="reservation-detail">
        <div class="dance-weight-bold-text">
          予約時間
          <span class="indispensable">必須</span>
        </div>
        <%= f.datetime_local_field :reservation_time, class:"time-input", id:"dance-time" %>
      </div>
    </div>

    <div class="sell-price">
      <div class="dance-weight-bold-text question-text">
        <span>価格<br>(¥300〜9,999,999)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"dance-price", placeholder:"例）300" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
        </div>
        </span>
      </div>
    </div>
    
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>
</div>
<%= render "devise/shared/footer" %>